:root {
    --brand-color-facebook: #0866FF;
    --brand-color-instagram: #F14F48;
    --brand-color-linkedin: #0A66C2;
    --brand-color-twitch: #A970FF;
    --brand-color-pinterest: #E60023;
    --brand-color-stackoverflow: #F48024;
    --brand-color-twitter: #000;
    --brand-color-reddit: #FF4500;
    --brand-color-github: #000;
    --brand-color-threads: #000;
    --brand-color-steam: #0A1F45;
    --brand-color-discord: #F7F7F7;
    --brand-color-amazon: #FF9900;
    --brand-color-stripe: #635BFF;
    --brand-color-ebay: #86B817;
    --brand-color-netflix: #E50914;
    --brand-color-bluesky: #0085FF;
}
